.editorconfig
.eslintingore
.github
.gitignore
.prettierc
.versionrc
commitlint.config.js
jest.config.ts
Makefile
tsconfig.*.json
.hooks
node_modules
test
*.spec.ts
*.test.ts
*.spec.js
*.test.js
src
tsconfig.build.tsbuildinfo
docs/
scripts/
.eslintingore
.eslintrc.js
.prettierrc
.versionrc.json
CHANGELOG.md
jest.config.e2e.ts
tsconfig.json
LAST_RELEASE.md
